# Database (SQLite via Prisma — otomatis dibuat, tidak perlu install)
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Cloudinary (foto produk & logo UMKM — opsional, untuk fitur upload)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# WhatsApp default template (opsional override)
NEXT_PUBLIC_WA_DEFAULT_MESSAGE="Halo, saya ingin bertanya tentang produk di Kutoharjo UMKM Hub"
